main{
    display: block;
}

section h2{
    text-align: center;
}

#tabela{
    width: 100%;
    font-size: 1.2em;
}

#tabela, #tabela th, #tabela td{
    border:  0.1em solid #191970;
    border-collapse: collapse;
}

#tabela thead, #tabela tfoot{
    background-color: #191970b0;
    color: aliceblue;
}

#tabela td{
    text-align: center;
}

#tabela td:nth-child(1){
    text-align: left;
}

#tabela tbody tr:nth-child(even){
    background-color: #00bfff7a;
}